@model Shooping.Models.HomeViewModel

@{
    ViewData["Title"] = "Index";
}

<flash dismissable="true" />

@if (Model.Quantity > 0)
{
    <div class="mb-2">
        <a asp-action="ShowCart" class="btn btn-outline-primary">Ver Carro de Compras (@Model.Quantity)</a>
    </div>
}

<div class="mb-2">
    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Ordenar por Nombre</a>&nbsp;&nbsp;
    <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]">Ordenar por Precio</a>
</div>

@*<form asp-action="Index">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-1 mt-2 mb-2">
                <label asp-for="FilterName" class="control-label"></label>
            </div>
            <div class="col-md-4 mt-2 mb-2">
                <input asp-for="FilterName" class="form-control" />
            </div>
            <div class="col-md-1 mt-2 mb-2">
                <label asp-for="CategoryId" class="control-label"></label>
            </div>
            <div class="col-md-5 mt-2 mb-2">
                <select asp-for="CategoryId" asp-items="Model.Categories" class="form-control"></select>
            </div>
            <div class="col-md-1 mt-2 mb-2">
                <input type="submit" value="Filtrar" class="btn btn-block btn-outline-primary" />
            </div>
        </div>
    </div>
</form>
*@
@*<div>
    <a asp-action="Next" class="btn btn-primary">Siguiente</a>
</div>*@

@foreach (var item in Model.Products)
{
    <div class="row">
        @if (item.Product1 != null)
        {
            <div class="col-md-3">
                <div class="card">
                    <div class="card_title">@item.Product1.Name</div>
                    <div class="card_body">
                        <img src="@item.Product1.ImageFullPath" style="height:150px; max-width:280px;" />
                        <p class="mt-2">
                            @item.Product1.Description
                            <h4>@Html.DisplayFor(modelItem => item.Product1.Price)</h4>
                        </p>
                    </div>
                    <div class="card_foot">
                        <a asp-action="Details" asp-route-id="@item.Product1.Id" class="btn btn-secondary">Detalles</a>
                        <a asp-action="Add" asp-route-id="@item.Product1.Id" class="btn btn-primary">Agregar</a>
                    </div>
                </div>
            </div>
        }
        @if (item.Product2 != null)
        {
            <div class="col-md-3">
                <div class="card">
                    <div class="card_title">@item.Product2.Name</div>
                    <div class="card_body">
                        <img src="@item.Product2.ImageFullPath" style="height:150px; max-width:280px;" />
                        <p class="mt-2">
                            @item.Product2.Description
                            <h4>@Html.DisplayFor(modelItem => item.Product2.Price)</h4>
                        </p>
                    </div>
                    <div class="card_foot">
                        <a asp-action="Details" asp-route-id="@item.Product2.Id" class="btn btn-secondary">Detalles</a>
                        <a asp-action="Add" asp-route-id="@item.Product2.Id" class="btn btn-primary">Agregar</a>
                    </div>
                </div>
            </div>
        }
        @if (item.Product3 != null)
        {
            <div class="col-md-3">
                <div class="card">
                    <div class="card_title">@item.Product3.Name</div>
                    <div class="card_body">
                        <img src="@item.Product3.ImageFullPath" style="height:150px; max-width:280px;" />
                        <p class="mt-2">
                            @item.Product3.Description
                            <h4>@Html.DisplayFor(modelItem => item.Product3.Price)</h4>
                        </p>
                    </div>
                    <div class="card_foot">
                        <a asp-action="Details" asp-route-id="@item.Product3.Id" class="btn btn-secondary">Detalles</a>
                        <a asp-action="Add" asp-route-id="@item.Product3.Id" class="btn btn-primary">Agregar</a>
                    </div>
                </div>
            </div>
        }
        @if (item.Product4 != null)
        {
            <div class="col-md-3">
                <div class="card">
                    <div class="card_title">@item.Product4.Name</div>
                    <div class="card_body">
                        <img src="@item.Product4.ImageFullPath" style="height:150px; max-width:280px;" />
                        <p class="mt-2">
                            @item.Product4.Description
                            <h4>@Html.DisplayFor(modelItem => item.Product4.Price)</h4>
                        </p>
                    </div>
                    <div class="card_foot">
                        <a asp-action="Details" asp-route-id="@item.Product4.Id" class="btn btn-secondary">Detalles</a>
                        <a asp-action="Add" asp-route-id="@item.Product4.Id" class="btn btn-primary">Agregar</a>
                    </div>
                </div>
            </div>
        }
    </div>
}

<flash dismissable="true" />
